<!-- fragments/cashier-sidebar.html -->
<div th:fragment="sidebar">

    <div class="sidebar">
        <img src="https://img.icons8.com/ios-filled/50/shop.png" alt="shop" />
        <img src="https://img.icons8.com/ios-glyphs/30/menu.png" alt="menu" />
        <img src="https://img.icons8.com/ios-filled/50/settings.png" alt="settings" />
        <img src="https://img.icons8.com/ios-filled/50/document.png" alt="document" />
        <img src="https://img.icons8.com/ios-filled/50/mail.png" alt="mail" />
        <img src="https://img.icons8.com/ios-filled/50/alarm.png" alt="alarm" />
        <img src="https://img.icons8.com/ios-filled/50/lock.png" alt="lock" />
    </div>
</div>

