<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="ordersGrid">
    <div class="cards-container">
        <div class="card" th:each="order : ${orders}">
            <div class="card-header">
                <h3 th:text="${order.status}"></h3>
                <span class="card-id" th:text="${order.id}"></span>
            </div>
            <div class="card-body" th:text="${order.details}"></div>
            <div class="card-footer">
            <span
                    class="tag"
                    th:class="'tag ' + ${order.tag}"
                    th:text="${order.tag}">
            </span>
                <button class="action" th:text="${order.action}"></button>
            </div>
        </div>
    </div>
</div>
</body>
</html>

