<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="sidebar">


<nav class="sidebar">
    <ul>
        <li><a href="/dashboard/admin" class="active">Dashboard</a></li>
        <li><a href="#">Menu manage</a></li>
        <li><a href="#">Staff manage</a></li>
        <li><a href="#">Inventory</a></li>
        <li><a href="#">Reservations</a></li>
        <li><a href="#">Report Analytics</a></li>
        <li><a href="#">Order History</a></li>
        <li><a href="#">Notifications</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>
</div>
</body>
</html>